@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #f9f9f9 !important;
}

/** Section Navbar **/
.bg-light {
  background-color: rgba(206, 188, 188, 0.1) !important;
}

ul,
li {
  padding: 15px;
  color: #f9f9f9 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #f9f9f9 !important;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: 700;
}

.header__nav-point_active {
  background: none !important;
  border: none !important;
}

.header__logo {
  margin-left: 45px;
}

/** index **/
section {
  min-height: 520px;
  background: #dbdbdb;
  position: relative;
  background: #bea1ab url(../img/main/img/img-02.jpg) center 0 no-repeat;
  color: #f9f9f9 !important;
}
