@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #f9f9f9 !important;
}

/** Section Navbar 
.bg-light {
  background-color: rgba(206, 188, 188, 0) !important;
}
.bg-white {
  background-color: rgba(206, 188, 188, 0.7) !important;
}
**/

.navbar-top {
  background-color: rgba(206, 188, 188, 0) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.navbar-scroll a img {
  width: 80px;
}
.navbar-scroll {
  padding: 0px;
  background-color: rgba(206, 188, 188, 7) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

ul,
li {
  padding: 5px;
  color: #dbdbdb !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #dbdbdb;
  font-size: 1.3em;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #dbdbdb;
  font-size: 1.3em;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: 700;
  color: #dbdbdb;
}

.header__nav-point_active {
  background: none !important;
  border: none !important;
}

.header__logo {
  margin-left: 45px;
}

/** index **/
section {
  background: #dbdbdb;
  position: relative;
  color: #f9f9f9 !important;
}
.section-01 {
  /*background: #bea1ab url(../img/main/img/img-02.jpg) center 0 no-repeat;*/
  min-height: 380px;
}

.minh-100 {
  height: 55vh;
}

.section-01 h2 {
  font-weight: 700;
  font-size: 2.2em;
}
.section-01 h3 {
  font-style: light;
  font-size: 1.9em;
}
.btn-primary {
  color: #fff;
  background-color: #92616f;
  border-color: #92616f;
  border-radius: 18px;
  padding: 12px;
  min-width: 180px;
}

.section-02 {
  min-height: 520px;
}

.sha-1 {
  -webkit-box-shadow: 0px 2px 2px 1px rgba(209, 209, 209, 0.69);
  -moz-box-shadow: 0px 2px 2px 1px rgba(209, 209, 209, 0.69);
  box-shadow: 0px 2px 2px 1px rgba(209, 209, 209, 0.69);
}

.sha {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.sha-1 {
  box-shadow: 0 1px 3px rgba(206, 162, 162, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sha-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sha-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sha-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sha-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sha-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.btn-primary,
.btn-primary:hover,
.btn-primary,
.btn-primary:hover {
  outline: none;
  background: #865966;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  /**
  border-color: #865966;*/
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #865966;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  /* box-shadow: 0 0 0 0.1rem rgba(134, 89, 102, 0.2);*/
}
.btn-primary:focus,
.btn-primary.focus {
  font-weight: 700;
}

/** Slider Section**/
#news-slider {
  margin-top: 80px;
}
.post-slide {
  background: #fff;
  /*margin: 20px 15px 20px;*/
  border-radius: 15px;
  /*padding-top: 1px;*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /*
  margin: -12px 15px 8px 15px;
  margin-left: -10px;
  */
}
.post-slide .post-img img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}
.post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}
.post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(
    -45deg,
    rgba(181, 144, 155, 0.75) 0%,
    rgba(146, 97, 111, 0.6) 100%
  );
  transition: all 0.5s linear;
}
.post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}
.post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}

.post-slide .post-title {
  position: absolute;
  margin-top: -40px;
  left: 15px;
  font-size: 1.3em;
}

.post-slide .post-title a {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}
.owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  top: -13%;
  left: 15px;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next {
  background: #fff;
  position: absolute;
  top: -13%;
  right: 15px;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 30px;
}
.owl-controls .owl-buttons .owl-next:after {
  content: "\f105";
}
@media only screen and (max-width: 1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}
/** Slider Section**/

.iw {
  color: #f0f0f0 !important;
}
.ic {
  color: #92616f !important;
}

/**Section 3**/
.section-03 {
  min-height: 390px;
  background: #baaaaf;
}

.section-03 .container {
  padding-top: 40px;
}

.section-03 h2 {
  color: #555555;
}

.section-03 h3 {
  color: #555555;
  font-size: 1.6em;
  font-weight: 600;
}

.container-icon {
  background: #865966;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding-top: 20px;
  text-align: center;
  margin-left: 36%;
  margin-bottom: 25px;
}

.container-icon .icon {
  font-size: 35px;
  color: #c7b2b9 !important;
  margin-top: 15px;
}

.section-04 {
  /* background: #bea1ab url(../img/main/img/img-02.jpg) center 0 no-repeat;*/
  min-height: 340px !important;
}

.section-04 p {
  color: #f0f0f0;
}
p {
  color: #f0f0f0 !important;
}

.content {
  /* padding: 5% 15%;*/
  padding: 5px 25px;
  margin: 0 auto;
}

.after-para {
  /*top: -45px;*/
}
